

.nav_container{
    background: #03045e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    position: relative;
}

.nav_container .logo{
    color: #ade8f4;
    font-size: 25px;
    text-transform: uppercase;
}

.nav_container .nav_links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}

.nav_container .nav_links {
    background: #ade8f4;
    padding: 10px;
}

.nav_container .nav_links .link{
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
    transition: 0.2s all ease;
    border-bottom: 2px solid transparent;

}

.active{

    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
    border-bottom: 2px solid #03045e;
    
}

.bars{
    background: #ade8f4;
    display: flex;
    padding: 4px 7px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    color: #03045e;
    display: none;
}

.bars .menu_icon{
    font-size: 25px;
}

.nav_links_mobile{
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #03045e;
    width: 100%;
    gap: 20px;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    height: 90vh;
    transition: 0.5s all ease;
    z-index: 99;
    
}

.mobile{
    display: none;
}

.nav_links_mobile .link{
    color: #ade8f4;
}

@media screen and (max-width: 740px) {
    .mobile,.bars{
        display: block;
    }

    .nav_container  .nav_links{
        display: none;
    }
    .nav_container .logo{
        font-size: 20px;
    }
}